* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pb20 {
    padding-bottom: 20px;
}

.pb10 {
    padding-bottom: 10px;
}

#section2,
#section3 {
    margin-top: 150px;
}

/* container  */
.container-header {
    width: 95%;
    margin: 0 auto;
}

.container-jumbo {
    padding: 100px 0;
    margin: 0 auto;
    width: 80%;

}

.container-main {
    width: 70%;
    margin: 0 auto;
    padding: 150px 0
}

/* =============== header================== */

header {
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}

/* logo */

#logo {
    display: inline-block;
    margin-right: 20px;
}

#logo img {
    vertical-align: text-bottom;
}

/* nav  */

nav {
    display: inline-block;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li:hover {
    border-bottom: 2px solid blue;
}

/* dropdown  */

nav .dropdown {
    position: relative;
    /* overflow: hidden; */
}

nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    z-index: 1;
}

nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 15vw;
}

nav .dropdown .dropdown-content a:hover {
    background-color: #fff;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

/* /dropdown */

.btnhead {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    background-color: #0061ff;
}

/* /header */

/* jumbo  */

#jumbo {
    background-color: #b4d0e7;
    position: relative;
    padding-top: 80px
}

#jumbo .main-title {
    width: 100%;
    font-size: 45px;
}

#jumbo .jumbo-col {
    width: 100%;
    margin-top: 50px;
}

#jumbo .col1jumbo {
    width: 30%;
    padding-bottom: 90px;
}

#jumbo .col1jumbo p {
    margin-bottom: 40px;
}

#jumbo .col1jumbo p:last-child {
    margin-top: 10px;
}

#jumbo .col1jumbo a {
    display: inline-block;
    margin-bottom: 10px;
}

#jumbo .col1jumbo i {
    font-size: 40px;
}

#jumbo .col2jumbo {
    width: 65%;
}

#jumbo .col2jumbo img {
    position: absolute;
    width: 50%;
    max-width: 800px;
}

#jumbo .col2jumbo img:hover {
    transform: scale(1.1);
    transition: all 0.8s;
}


/* /jumbo  */

/* ===================main=================== */

/* init sezione 1  */

.title-section1 {
    margin-bottom: 20px;
}

.title-section1 h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.title-section1 span {
    margin-right: 20px;
}

/* colonne sezione 1 */

.col-fatturazione {
    width: calc((100% - 100px) / 3);
    min-height: 1000px;
    border: 1px solid lightgray;
    margin: 40px 0px;
}

.col-fatturazione:nth-child(3) {
    margin-left: 50px;
    margin-right: 50px;
}

.col-fatturazione .container-col {
    margin: 0 auto;
    width: 80%;
    padding-top: 20px;
}

.col-fatturazione .titlecol {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.pianoabb h3 {
    font-size: 25px;
}

.pianoabb .price {
    font-weight: bold;
}

.pianoabb .promozione {
    color: gray;
    font-size: 15px;
}

.infoabb ul {
    list-style: none;
}

.infoabb ul li {
    margin-bottom: 15px;
    font-size: 15px;
}

.btncol {
    background-color: #0061ff;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.acquista {
    font-size: 15px;
    display: inline-block;
    padding-bottom: 40px;
}

.acquista a {
    color: blue;
}

.interlinea {
    width: 20%;
    color: lightgrey;
    margin-bottom: 40px;
}

.puntipiano h4 {
    padding-bottom: 20px;
}

.puntipiano ul {
    list-style: none;
}

.puntipiano ul li::before {
    content: "\2713";
    color: blue;
    font-weight: bold;
}

.puntipiano ul li {
    margin-bottom: 20px;
}

.puntipiano ul li a {
    text-decoration: none;
    color: black;
}

/* colonna 4 sezione 1  */

.colonnalarga {
    border: 1px solid lightgray;
    width: 100%;
    min-height: 200px;
    display: inline-block;
}

.colonnalarga .titlecolonnalarga {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px lightgrey solid;
}

.colonnalarga .container-col {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.colsxlarga h4 {
    font-size: 30px;
}

.colsxlarga p {
    font-size: 15px;
    font-weight: bold;
}

.colsxlarga p:last-of-type {
    font-size: 15px;
    font-weight: 300;
    margin-top: 20px;
}

.colsxlarga {
    width: 70%;
}

.coldxlarga {
    width: 30%
}

/* /sezione1 */
/* section 2 */


/* img e titolo partner */
.partner {
    display: block;
}

.partner .imgpartner {
    width: 50%;
}

.partner .imgpartner img {
    width: 100%;
}

.partner .partner-text {
    margin-top: 30px;
    width: 45%;
}

.partner .partner-text h3 {
    font-size: 35px;
}

.partner .partner-text p {
    font-size: 17px;
    margin-top: 20px;
    line-height: 2em;
}

.partner .partner-text .lightbutton {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
}

/* /sezione 2 */
/* sezione 3  */

.card {
    width: calc((100% - 100px) / 3);
    margin: 40px 0px;
}

.card:nth-child(2) {
    margin: 40px 50px;
}

.card img {
    width: 100%;
    padding-bottom: 10px;
}

.card h4 {
    font-size: 30px
}

/* /sezione3 */
/* sezione 4 */

#section4 .title-section1 {
    width: 50%
}

#section4 .container-main {
    padding: 0
}

#section4 .row .container-main .title-section1 a {
    color: blue
}

.sezionequadrati {
    background-color: rgb(240, 240, 240);
    height: 30vw;
    margin-top: 50px;
}

.quadratosx,
.quadratodx {
    width: 30vw;
    height: 30vw;

}

.quadratocentro {
    height: 30vw;
    width: calc(100% - 60vw);
    padding: 50px;
}


.square {
    height: 15vw;
    width: 15vw;
    position: relative;
}

.square img {
    filter: invert(100%);
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* sfondi quadrati  */
.quadratosx .square:nth-of-type(1) {
    background-color: #a2d39b;
}

.quadratosx .square:nth-of-type(2) {
    background-color: #61082b;
}

.quadratosx .square:nth-of-type(3) {
    background-color: #0093ce;
}

.quadratosx .square:nth-of-type(4) {
    background-color: #ff1c1c;
}

.quadratodx .square:nth-of-type(1) {
    background-color: #d5001f;
}

.quadratodx .square:nth-of-type(2) {
    background-color: #b4d0e7;
}

.quadratodx .square:nth-of-type(3) {
    background-color: #009;
}

.quadratodx .square:nth-of-type(4) {
    background-color: #ffd830;
}

/* /sfondi quadrati */

.quadratocentro .container-square img {
    width: 20%;
    margin-bottom: 50px;
}

.container-square {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
}

/* sezione freetrial */
.freetrial {
    padding: 150px 0;
    background-color: #b4d0e7;
    display: flex;
    align-content: center;
}

.titletrial h2 {
    width: 70%;
    color: rgb(109, 15, 15);
    font-size: 30px;
}

.btntrial .btncol {
    background-color: #fff;
    color: black;
}

/* /sezione freetrial */
/* sezione5 */

.faq h3 {
    font-size: 30px;
    padding-bottom: 30px;
}

.faq .questionform hr {
    border: 1px solid #ebebeb;
    margin: 40px 0;

}

.faq .questionform span {
    font-weight: bold;
}

.faq .questionform i {
    margin-right: 20px;
}

/* /sezione5 */

/* ====================footer===================  */

footer {
    background-color: black;
}

footer .row {
    padding: 80px 0px;
    width: 80%;
    margin: 0 auto;
}

footer hr {
    width: 5%;
    margin-bottom: 50px;
}

footer .row .listefooter {
    display: flex;
    justify-content: space-between;
}

footer .row .listefooter ul {
    color: white;
    list-style: none;
}


.listefooter ul h3 {
    padding-bottom: 20px;
}

.listefooter ul li a {
    text-decoration: none;
    line-height: 30px;
    color: white;
}

.listefooter ul hr {
    margin-top: 100px;
}

/* /footer  */