* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* header */

header {
    height: 80px;
    line-height: 80px;
}

.container-header {
    width: 95%;
    margin: 0 auto;
}

#logo {
    display: inline-block;
    margin-right: 20px;
}

#logo img{
    vertical-align: middle;
}

nav {
    display: inline-block;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

nav li a{
    text-decoration: none;
    color: black;
}

.btnhead {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    background-color: blue;
}

/* /header */