* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pb20 {
    padding-bottom: 20px;
}

.pb10 {
    padding-bottom: 10px;
}

/* header */

header {
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}

.container-header {
    width: 95%;
    margin: 0 auto;
}

#logo {
    display: inline-block;
    margin-right: 20px;
}

#logo img {
    vertical-align: text-bottom;
}

nav {
    display: inline-block;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: black;
}

.btnhead {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    background-color: #0061ff;
}

/* /header */

/* jumbo  */

#jumbo {
    background-color: #b4d0e7;
    position: relative;
    padding-top: 80px
}

.container-jumbo {
    padding: 100px 0;
    margin: 0 auto;
    width: 80%;

}

#jumbo .main-title {
    width: 100%;
    font-size: 45px;
}

#jumbo .jumbo-col {
    width: 100%;
    margin-top: 50px;
}

#jumbo .col1jumbo {
    width: 30%;
    padding-bottom: 90px;
}

#jumbo .col1jumbo p {
    margin-bottom: 40px;
}

#jumbo .col1jumbo p:last-child {
    margin-top: 10px;
}

#jumbo .col1jumbo a {
    display: inline-block;
    margin-bottom: 10px;
}

#jumbo .col1jumbo i {
    font-size: 40px;
}

#jumbo .col2jumbo {
    width: 65%;
}

#jumbo .col2jumbo img {
    position: absolute;
    width: 50%;
    max-width: 800px;
}


/* /jumbo  */

.container-main {
    width: 70%;
    margin: 0 auto;
    padding: 150px 0
}

.title-section1 {
    margin-bottom: 20px;
}

.title-section1 h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.title-section1 span {
    margin-right: 20px;
}

.col-fatturazione {
    width: calc((100% - 100px) / 3);
    min-height: 1000px;
    border: 1px solid lightgray;
    margin: 40px 0px;
}

.col-fatturazione:nth-child(3) {
    margin-left: 50px;
    margin-right: 50px;
}

.col-fatturazione .container-col {
    margin: 0 auto;
    width: 80%;
    padding-top: 20px;
}

.col-fatturazione .titlecol {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.pianoabb h3 {
    font-size: 25px;
}

.pianoabb .price {
    font-weight: bold;
}

.pianoabb .promozione {
    color: gray;
    font-size: 15px;
}

.infoabb ul {
    list-style: none;
}

.infoabb ul li {
    margin-bottom: 15px;
    font-size: 15px;
}

.btncol {
    background-color: #0061ff;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.acquista {
    font-size: 15px;
    display: inline-block;
    padding-bottom: 40px;
}

.acquista a {
    color: blue;
}

.interlinea {
    width: 20%;
    color: lightgrey;
    margin-bottom: 40px;
}

.puntipiano h4 {
    padding-bottom: 20px;
}

.puntipiano ul {
    list-style: none;
}

.puntipiano ul li::before {
    content: "\2713";
    color: blue;
    font-weight: bold;
}

.puntipiano ul li {
    margin-bottom: 20px;
}

.puntipiano ul li a {
    text-decoration: none;
    color: black;
}

.colonnalarga {
    border: 1px solid lightgray;
    width: 100%;
    min-height: 200px;
    display: inline-block;
}

.colonnalarga .titlecolonnalarga {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px lightgrey solid;
}

.colonnalarga .container-col {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.colsxlarga h4 {
    font-size: 30px;
}

.colsxlarga p {
    font-size: 15px;
    font-weight: bold;
}

.colsxlarga p:last-of-type {
    font-size: 15px;
    font-weight: 300;
    margin-top: 20px;
}

.colsxlarga {
    width: 70%;
}

.coldxlarga {
    width: 30%
}

/* section 2 */

#section2,
#section3 {
    margin-top: 150px;
}

.partner {
    display: block;
}

.partner .imgpartner {
    width: 50%;
}

.partner .imgpartner img {
    width: 100%;
}

.partner .partner-text {
    margin-top: 30px;
    width: 45%;
}

.partner .partner-text h3 {
    font-size: 35px;
}

.partner .partner-text p {
    font-size: 17px;
    margin-top: 20px;
    line-height: 2em;
}

.partner .partner-text .lightbutton {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
}

.card {
    width: calc((100% - 100px) / 3);
    margin: 40px 0px;
}

.card:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
}

.card img {
    width: 100%;
}